.school {
  background-color: var(--primary-color);
  padding: 50px;
  margin-bottom: 20px;
  border-radius: 50px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.school h2,h3 {
  color: #fff;
  font-size: 24px;
  margin-bottom: 10px;
}

.school h2 {
font-size: 40px;
}

.school > * {
  margin: 20px;
}

.school div {
  margin-bottom: 5px;
}

.school ul {
  list-style-type: "📋";
  padding-left: 0;
}

.school ul li {
  margin-bottom: 5px;
}